* {
	box-sizing: border-box;
}
html.ovh {
	overflow: hidden;
}
body {
	user-select: none;
	font-size: 0;
	margin: 0;
	background: black;
    text-transform: uppercase;
    text-align: center;
    font-family: monospace;
    font-weight: 700;
    overflow: hidden;
}
body.no_click {
	pointer-events: none;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	height: 100vh;
	position: relative;
}
@media only screen and (min-width: 641px) {
	#wrapper {
		max-width: 400px;
	}
	#wrapper:hover .list_levels:not(:hover) {
		height: calc(100% - 160px);
	}
}
.list_levels {
	display: flex;
	flex: 1;
	margin: auto;
	position: relative;
	width: 400px;
	height: calc(100% - 80px);
}
@media only screen and (max-width: 640px) {
	.list_levels {
		width: 100%;
	}
}
.list_levels:before,
.list_levels:after {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	pointer-events: none;
	width: 100px;
}
.list_levels:before {
	left: 0;
	background: #00cf76;
}
.list_levels:after {
	right: 0;
	background: white;
}
@media only screen and (min-width: 641px) {
	.list_levels__item {
		width: 160px;
		flex: 0 0 160px;
	}
	.list_levels__item:not(:hover):not(.triggered) {
		width: 80px;
		flex: 1 0 80px;
	}
	.list_levels:hover .list_levels__item:not(:hover),
	.list_levels.triggered .list_levels__item:not(.triggered) {
		width: 60px;
		flex: 0 0 60px;
	}
}
@media only screen and (max-width: 640px) {
	.list_levels__item {
		flex: 0 0 20%;
	}
}
.list_levels__bg {
	height: 100%;
	width: 100%;
	font-size: 1rem;
	display: flex;
	/*flex-direction: column;*/
	justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
	text-decoration: none;
    font-size: 4.5vh;
    word-break: break-all;
    gap: 20px;
    cursor: pointer;
    position: relative;
    writing-mode: vertical-lr;
    text-orientation: upright;
    white-space: nowrap;
}
.list_levels__bg:before,
.list_levels__bg:after {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	height: 100%;
	width: 100%;
	-webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    transition: all ease 1s;
}
.list_levels__bg:before {
	left: 0;
}
.list_levels__bg:after {
	right: 0;
}
.list_levels__bg.triggered {
	z-index: 1;
}
.list_levels__bg.triggered:before,
.list_levels__bg.triggered:after {
	width: 100vw;
	height: 100vh;
}
@media only screen and (max-width: 640px) {
	.list_levels__bg {
		font-size: 20px;
	}
	.list_levels__bg.triggered span {
		opacity: 0;
	}
}
.list_levels__bg--green,
.list_levels__bg--green:before,
.list_levels__bg--green:after {
	background: #00cf76;
}
.list_levels__bg--blue,
.list_levels__bg--blue:before,
.list_levels__bg--blue:after {
	background: blue;
}
.list_levels__bg--red,
.list_levels__bg--red:before,
.list_levels__bg--red:after {
	background: red;
}
.list_levels__bg--yellow,
.list_levels__bg--yellow:before,
.list_levels__bg--yellow:after {
	background: yellow;
	color: black;
}
.list_levels__bg--white,
.list_levels__bg--white:before,
.list_levels__bg--white:after {
	background: white;
}
.list_levels__bg--white {
	color: black;
}
.list_levels__title {
    width: 40px;
}
@media only screen and (max-width: 640px) {	
	.list_levels__title {
	    max-width: 20px;
	}
}
@media only screen and (min-width: 641px) {
	.list_levels__bg:not(:hover) .list_levels__title {
	    opacity: 0;
	}
}
.bottom_link {
	background: pink;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	width: 100%;
	color: black;
    font-size: 4.5vh;
	height: 160px;
	text-decoration: none;
	cursor: pointer;
	position: relative;
}
.bottom_link:before,
.bottom_link:after {
	content: '';
	position: absolute;
	z-index: -1;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: pink;
	-webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    transition: all ease 1s;
}
.bottom_link:before {
	left: 0;
}
.bottom_link:after {
	right: 0;
}
.bottom_link.triggered {
	z-index: 1;
}
.bottom_link.triggered:before,
.bottom_link.triggered:after {
	width: 100vw;
	height: 100vh;
}
@media only screen and (min-width: 641px) {
	.bottom_link:not(:hover):not(.triggered) {
		height: 80px;
	}
	.bottom_link:not(:hover) .bottom_link__text {
		opacity: 0;
	}
}
@media only screen and (max-width: 640px) {
	.bottom_link {
		height: 80px;
		font-size: 20px;
	}
	.bottom_link.triggered span {
		opacity: 0;
	}
}
.list_levels,
.list_levels__item,
.list_levels__bg,
.list_levels__title,
.bottom_link,
.bottom_link__text {
	-webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}