body {
	user-select: none;
	font-size: 0;
	margin: 0;
	background: red;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 1100px;
	font-family: 'Ubuntu', sans-serif;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

#wrapper {
	width: 1100px;
	height: 820px;
	margin: auto;
	position: relative;
	transform-style: preserve-3d;
}
#wrapper.solved {
	transform : rotateY(180deg);
}

#flip_board {
	position: fixed;
	top: 0;
	left: 0;
	width: 80px;
	height: 60px;
	align-items: center;
	justify-content: center;
	background-color: white;
	cursor: pointer;
	display: none;
}
body.solved #flip_board {
	display: flex;
}

#board,
#board_back {
	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
  	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	background: url(assets/board.png) no-repeat;
	background-size: 100%;
	border-radius: 16px;
}
#board {	
	z-index: 1;
}
#board_back {
	transform : rotateY(180deg);
	z-index: 0;
	pointer-events: none;
}

#list_landscapes {
	position: relative;
	width: 100%;
	height: 100%;
}

.landscape {
	position: absolute;
	width: 300px;
	height: 200px;
}
.landscape:nth-child(1) {
	top: 80px;
    left: 120px;
}
.landscape:nth-child(2) {
	top: 470px;
    left: calc(50% - 140px);
}
.landscape:nth-child(3) {
	top: 80px;
	right: 90px;
}
.landscape:before,
.landscape:after {
	content: "";
	position: absolute;
	z-index: 1;
	width: 40px;
	background-size: 100%;
	pointer-events: none;
}
.landscape:before {
	height: 30px;
	background-image: url(assets/pin_red.png);
}
.landscape:after {
	height: 37px;	
	background-image: url(assets/pin_green.png);
}
.landscape:nth-child(1):before,
.landscape:nth-child(1):after {
	top: -10px;
	left: 110px;
}
.landscape:nth-child(2):before,
.landscape:nth-child(2):after {
	top: 10px;
	left: 120px;
}
.landscape:nth-child(3):before,
.landscape:nth-child(3):after {
	top: 0;
	left: 140px;
}
.landscape.solved {
	pointer-events: none;
}
.landscape.solved:before,
.landscape:not(.solved):after {
	display: none;
}
.landscape img {
	position: relative;
	max-width: 100%;
	height: auto;
	pointer-events: none;
}
.landscape .inner {
	position: relative;
	width: 300px;
	left: 0;
	top: 0;
	cursor: pointer;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}
.landscape.active .inner {
	cursor: default;
}
.landscape:not(.active):nth-child(1) .inner,
.landscape:nth-child(1) .solved_paper {
	transform: rotate(-11deg);
}
.landscape:not(.active):nth-child(2) .inner,
.landscape:nth-child(2) .solved_paper {
	transform: rotate(1deg);
}
.landscape:not(.active):nth-child(3) .inner,
.landscape:nth-child(3) .solved_paper {
	transform: rotate(10deg);
}

.list_colors {
	position: absolute;
	z-index: 1;
	left: 10px;
	display: flex;
	pointer-events: none;
}
.list_colors:not(.bottom) {
	top: 10px;
}
.list_colors.bottom {
	bottom: 10px;
}
.list_colors li:not(:last-child) {
	margin-right: 4px;
}
.list_colors span {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #000;
}
.list_colors span:before {
	content: attr(data-initial);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}
.landscape.active .list_colors {
	left: 10px;
}
.landscape.active .list_colors:not(.bottom) {
	top: 10px;
}
.landscape.active .list_colors.bottom {
	bottom: 10px;
}
.landscape.active .list_colors li:not(:last-child) {
	margin-right: 15px;
}
.landscape.active .list_colors span {
	width: 40px;
	height: 40px;
	border-width: 4px;
	pointer-events: all;
}
.landscape:not(.active) .list_colors span:before {
	font-size: 12px;
}
.landscape.active .list_colors:hover span:not(:hover) {
	opacity: 0.7;
}

.app_overlay {
	position: fixed;
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000000;
	opacity: 0;
	pointer-events: none;
	cursor: pointer;
}
.app_overlay.back {
	z-index: 0;
}
.app_overlay.front {
	border-radius: 16px;
}
.app_overlay.active {
	opacity: 0.5;
	pointer-events: all;
}

#pickable_colors {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	z-index: 9;
    left: 395px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
	width: 420px;
	box-shadow: 0 0 20px #000;
}
#pickable_colors:not(.active),
#pickable_colors:not(.active) span {
	pointer-events: none;
}
#pickable_colors:not(.bottom) {
	top: 252px;
}
#pickable_colors.bottom {
	bottom: 316px;
}
#pickable_colors:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #fff transparent;
	position: absolute;
	left: 10px;
}
#pickable_colors:not(.bottom):before {
	top: -10px;
}
#pickable_colors.bottom:before {
	bottom: -10px;
	transform: rotate(180deg);
}
#pickable_colors[data-index="1"]:before {
	left: 65px;
}
#pickable_colors[data-index="2"]:before {
	left: 120px;
}
#pickable_colors[data-index="3"]:before {
	left: 175px;
}
#pickable_colors[data-index="4"]:before {
	left: 230px;
}
#pickable_colors:not(.active) {	
	opacity: 0;
}
#pickable_colors:not(.active):not(.bottom) {	
	top: 242px;
}
#pickable_colors.bottom:not(.active) {	
	bottom: 306px;
}
#pickable_colors li {
	padding: 5px;
	flex: 0 0 50%;
	pointer-events: none;
}
#pickable_colors span {
    height: 40px;
    border-radius: 50px;
    /*border: 4px solid #000;*/
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #ffffff;
	pointer-events: all;
}
.dot {
	background-color: #FFFFFF;
	cursor: pointer;
}
#pickable_colors:hover li:not(:hover) {
	opacity: 0.7;
}

.solved_paper {
	position: absolute;
	top: 70;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 150px;
    height: 180px;
	background: url(assets/paper.png) center no-repeat;
	background-size: 100%;
	pointer-events: none;
}
.solved_paper:before {
	content: "";	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 70px;
    height: 60px;;
	background: url(assets/tick.png) center no-repeat;
	background-size: 100%;
}
.landscape:not(.solved) .solved_paper {
	display: none;
}

#board_back .pin {
	position: absolute;
	z-index: 1;
	width: 40px;
	background-size: 100%;
	pointer-events: none;
}
#board_back .pin_green {
	height: 37px;
	background-image: url(assets/pin_green.png);
}
#board_back .pin_red {
	height: 30px;
	background-image: url(assets/pin_red.png);
}
#answer {
	background: url(assets/sheet.png) no-repeat;
	background-size: 100%;
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    margin: auto;
    width: 410px;
    height: 508px;
	transform: rotate(-10deg);
}
#answer .pin_green {
	top: 10px;
	left: 120px;
}
#answer .pin_red {
	bottom: 30px;
	right: 80px;
}
.logo_adv {
	position: absolute;
	width: 135px;
	height: 130px;
	background: url(assets/adv.png) no-repeat;
	background-size: 100% auto;
	bottom: 100px;
    right: 100px;
}
.answer_pin {
	position: absolute;
	width: 40px;
	height: 30px;
	background: url(assets/pin_red.png) no-repeat;
	background-size: 100% auto;
}
.answer_pin.left {
	top: 50px;
	left: 40px;
}
.answer_pin.right {
	top: 20px;
	right: 30px;
}
canvas {	
	width: 300px;
	height: 150px;
	transform: rotate(-18deg);
	position: absolute;
	top: 100px;
	left: 60px;
}
#sos_brigade {
	position: absolute;
	top: 220px;
	left: 130px;	
}
#decor {
	position: absolute;
	right: 90px;
    top: 180px;
	transform: rotate(5deg);
}
#yzma {
	position: absolute;
	right: 90px;
    top: -15px;
    transform: rotate(3deg);
}
#decor .pin_green {
	right: 10px;
	top: 0;
}
#decor .pin_red {
	bottom: 10px;
    left: 10px;
}

.landscape .inner,
.app_overlay,
.list_colors span,
#pickable_colors,
#pickable_colors li {
	-webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
#pickable_colors:before {
	-webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    -ms-transition: all ease 0.1s;
    transition: all ease 0.1s;
}
#wrapper {
	-webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    transition: all ease 1s;
}